---
import "../styles/main.css"
---
<div data-w-id="d8cd9e7d-1b28-e1d5-05d7-0218dc52b54c" class="client-logo-area">
    <div id="w-node-d8cd9e7d-1b28-e1d5-05d7-0218dc52b54d-dc52b54c" class="client-logo-wrap"><img
            src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e6907df55a3ca5a4b9c63_client-logo-1.svg"
            loading="lazy" alt="client logos" class="client-logo-image" /></div>
    <div class="client-logo-wrap"><img
            src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e6e35fcf60eb561b91f29_client-logo-2.svg"
            loading="lazy" alt="client logos" class="client-logo-image" /></div>
    <div class="client-logo-wrap"><img
            src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e6e3561cbfab2aab756bf_client-logo-3.svg"
            loading="lazy" alt="client logos" class="client-logo-image" /></div>
    <div class="client-logo-wrap"><img
            src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e6e35107ad78417896ba2_client-logo-4.svg"
            loading="lazy" alt="client logos" class="client-logo-image" /></div>
    <div class="client-logo-wrap"><img
            src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e6e352c76e5015449785f_client-logo-5.svg"
            loading="lazy" alt="client logos" class="client-logo-image" /></div>
</div>