---
import { Image } from "astro:assets";
import brandLogo from "../assets/images/brandLogo.png";
---
<section class="footer-section">
    <div class="w-layout-blockcontainer container w-container">
        <div class="footer-line-break"></div>
        
        <div class="footer-line-break"></div>
        <div class="footer-bottom-wrap">
            <div class="footer-logo-wrap"><a href="/" aria-current="page"
                    class="footer-logo-image-wrap w-inline-block w--current"><Image
                        src={brandLogo}
                        loading="lazy" alt="Brand Logo" /></a>
                <div class="footer-social-whole-wrap">
                    <h3 class="footer-social-title">Follow us :</h3>
                    <div class="footer-social-link-wrap"><a href="https://www.facebook.com/" target="_blank"
                            class="footer-social-link w-inline-block"><img
                                src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661cea0af192a891c9cedd76_footer-social-1.svg"
                                loading="lazy" alt="social link icon" class="footer-social-image" /></a><a
                            href="https://www.pinterest.com/" target="_blank"
                            class="footer-social-link w-inline-block"><img
                                src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661cea0abdb721bda3b8e2d8_footer-social-2.svg"
                                loading="lazy" alt="social link icon" class="footer-social-image" /></a><a
                            href="https://www.twitter.com/" target="_blank"
                            class="footer-social-link w-inline-block"><img
                                src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661cea0ab69beaf2f6242e8f_footer-social-3.svg"
                                loading="lazy" alt="social link icon" class="footer-social-image" /></a><a
                            href="https://www.instagram.com/" target="_blank"
                            class="footer-social-link w-inline-block"><img
                                src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661cea0a04b9dfd439dc7dbf_footer-social-4.svg"
                                loading="lazy" alt="social link icon" class="footer-social-image" /></a><a
                            href="https://www.linkedin.com/" target="_blank"
                            class="footer-social-link w-inline-block"><img
                                src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661cea0a3889652dff2087ec_footer-social-5.svg"
                                loading="lazy" alt="social link icon" class="footer-social-image" /></a></div>
                </div>
            </div>
            <div class="footer-bottom-line-break"></div>
            <div class="footer-copyright-wrap">
                <p class="footer-copyright-content">Copyright © <a href="/" aria-current="page"
                        class="footer-copyright-link w--current">Marsevilleltd</a> | Designed by <a
                        href="https://www.mungaiworks.vercel.app/" target="_blank"
                        class="footer-copyright-link">Mungai Works</a> - Powered by <a href="https://www.vercel.com/"
                        target="_blank" class="footer-copyright-link">Vercel.</a></p>
            </div>
        </div>
    </div>
</section>