---
import "../styles/main.css";

---
<div class="hireus-badge">
    <div class="hireus-badge-wrap">
        <p class="hireus-content" style="margin-top: 8px;">Connect with a Marseville Expert to learn what's best for you.<a
                href="#" target="_blank" class="hireus-link">Learn More</a>
        </p>
        <div class="hireus-button-wrap"><a href="contact" target="_blank"
                class="hireus-orange-button w-button">Schedule A Call<br /></a><a
                href="#" target="_blank"
                class="get-a-quote-button w-inline-block">
                <div class="get-a-quote-button-wrap">
                    <div>Get Your Quote</div>
                </div>
            </a></div>
        <div data-w-id="1b6ddcfa-c836-0863-77ea-60c0b09cd0c5" class="hireus-close-wrap"><img loading="lazy"
                src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/66a9cdf39d7e61428797cb22_hireus-close-badge.svg"
                alt="Hireus Close Image" class="hireus-close-image" /></div>
    </div>
</div>