---
import "../styles/main.css";
---
<section class="service-section">
    <div class="service-main-wrap">
        <div class="service-wrap">
            <div class="w-layout-blockcontainer container w-container">
                <div data-w-id="4f0cea47-3b0f-6c7a-f3ef-dc498ec7f4fc" style="opacity:1"
                    class="service-content-wrap">
                    <div class="service-section-title-wrap">
                        <h2 class="section-title">Achieve Comfort with Our Trusted Air Conditioning Solutions</h2>
                    </div>
                    <p class="section-content">Elevate your home or business with our reliable air conditioning services, designed to provide long-lasting comfort and energy efficiency.</p><a
                        data-w-id="48a446b1-3e76-9a3f-d809-5cf16be6bb12" href="services"
                        class="main-button-link w-inline-block">
                        <div>More Services</div>
                        <div class="button-icon-wrap">
                            <div 
                                class="button-icon icon-one"></div>
                            <div 
                                class="button-icon icon-two"></div>
                            <div style="background-color:rgb(255,255,255)" class="button-icon"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div data-w-id="9c020188-7cd7-1e36-72f5-69b8e67f4b6b" style="opacity:1" class="service-card-whole-wrap">
            <div class="w-dyn-list">
                <div role="list" class="w-dyn-items w-row container-items">
                    <div role="listitem" class="service-item-home w-dyn-item w-col w-col-4">
                        <div data-w-id="b6ddeec6-44c2-d047-58b6-a58b9632e008" class="service-card-wrap">
                            <div class="service-card-count">
                                <div>1</div>
                            </div>
                            <div class="service-hover-line-break">
                                <div style="width:0%" class="service-hover-line"></div>
                            </div>
                            <div class="service-card-content-wrap">
                                <div class="service-title-wrap">Installation</div>
                                <p class="service-card-content">Our team ensures seamless installation of air conditioning systems tailored to your  needs.</p>
                            </div><a style="background-color:rgb(234,234,234)"
                                href="#"
                                class="service-card-arrow-wrap w-inline-block"><img
                                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e4792f078565646926ea4_service-card-arrow.svg"
                                    loading="lazy" alt="arrow image" class="service-card-arrow-icon" /></a>
                        </div>
                    </div>
                    <div role="listitem" class="service-item-home w-dyn-item w-col w-col-4">
                        <div data-w-id="b6ddeec6-44c2-d047-58b6-a58b9632e008" class="service-card-wrap">
                            <div class="service-card-count">
                                <div>2</div>
                            </div>
                            <div class="service-hover-line-break">
                                <div style="width:0%" class="service-hover-line"></div>
                            </div>
                            <div class="service-card-content-wrap">
                                <div class="service-title-wrap"><a href="#"
                                        class="service-card-title">Maintenance</a></div>
                                <p class="service-card-content">Extend the life of your cooling systems with our comprehensive plans.</p>
                            </div><a style="background-color:rgb(234,234,234)"
                                href="#"
                                class="service-card-arrow-wrap w-inline-block"><img
                                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e4792f078565646926ea4_service-card-arrow.svg"
                                    loading="lazy" alt="arrow image" class="service-card-arrow-icon" /></a>
                        </div>
                    </div>
                    <div role="listitem" class="service-item-home w-dyn-item w-col w-col-4">
                        <div data-w-id="b6ddeec6-44c2-d047-58b6-a58b9632e008" class="service-card-wrap">
                            <div class="service-card-count">
                                <div>3</div>
                            </div>
                            <div class="service-hover-line-break">
                                <div style="width:0%" class="service-hover-line"></div>
                            </div>
                            <div class="service-card-content-wrap">
                                <div class="service-title-wrap"><a href="#"
                                        class="service-card-title">Repair Services</a></div>
                                <p class="service-card-content">Fast and reliable repair services to minimize downtime and keep your systems running optimally.</p>
                            </div><a style="background-color:rgb(234,234,234)"
                                href="#"
                                class="service-card-arrow-wrap w-inline-block"><img
                                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e4792f078565646926ea4_service-card-arrow.svg"
                                    loading="lazy" alt="arrow image" class="service-card-arrow-icon" /></a>
                        </div>
                    </div>
                    <div role="listitem" class="service-item-home w-dyn-item w-col w-col-4">
                        <div data-w-id="b6ddeec6-44c2-d047-58b6-a58b9632e008" class="service-card-wrap">
                            <div class="service-card-count">
                                <div>4</div>
                            </div>
                            <div class="service-hover-line-break">
                                <div style="width:0%" class="service-hover-line"></div>
                            </div>
                            <div class="service-card-content-wrap">
                                <div class="service-title-wrap"><a href="#"
                                        class="service-card-title">Recommendations</a></div>
                                <p class="service-card-content">Get precommendations on the best air conditioning solutions from top brands like LG, GREE, LECOOL, and Samsung.</p>
                            </div><a style="background-color:rgb(234,234,234)"
                                href="#"
                                class="service-card-arrow-wrap w-inline-block"><img
                                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e4792f078565646926ea4_service-card-arrow.svg"
                                    loading="lazy" alt="arrow image" class="service-card-arrow-icon" /></a>
                        </div>
                    </div>
                    <div role="listitem" class="service-item-home w-dyn-item w-col w-col-4">
                        <div data-w-id="b6ddeec6-44c2-d047-58b6-a58b9632e008" class="service-card-wrap">
                            <div class="service-card-count">
                                <div>5</div>
                            </div>
                            <div class="service-hover-line-break">
                                <div style="width:0%" class="service-hover-line"></div>
                            </div>
                            <div class="service-card-content-wrap">
                                <div class="service-title-wrap"><a href="#"
                                        class="service-card-title">Optimization</a></div>
                                <p class="service-card-content">Optimize the performance of your air conditioning systems to reduce energy consumption and save on costs.</p>
                            </div><a style="background-color:rgb(234,234,234)"
                                href="#"
                                class="service-card-arrow-wrap w-inline-block"><img
                                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e4792f078565646926ea4_service-card-arrow.svg"
                                    loading="lazy" alt="arrow image" class="service-card-arrow-icon" /></a>
                        </div>
                    </div>
                    <div role="listitem" class="service-item-home w-dyn-item w-col w-col-4">
                        <div data-w-id="b6ddeec6-44c2-d047-58b6-a58b9632e008" class="service-card-wrap">
                            <div class="service-card-count">
                                <div>6</div>
                            </div>
                            <div class="service-hover-line-break">
                                <div style="width:0%" class="service-hover-line"></div>
                            </div>
                            <div class="service-card-content-wrap">
                                <div class="service-title-wrap"><a href="#"
                                        class="service-card-title">Customer Support</a></div>
                                <p class="service-card-content">Our team is always ready to assist you with any inquiries or technical support for your air conditioning needs.</p>
                            </div><a style="background-color:rgb(234,234,234)"
                                href="#"
                                class="service-card-arrow-wrap w-inline-block"><img
                                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e4792f078565646926ea4_service-card-arrow.svg"
                                    loading="lazy" alt="arrow image" class="service-card-arrow-icon" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <script src="../script/app.js"> </script>